@use "../../abstracts/index" as abs;

div.counter-container {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  div.digit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.2rem;
    & div.count-down-number {
      display: flex;
      flex-wrap: nowrap;
      & > span {
        text-align: center;
        flex-wrap: nowrap;
        padding-top: 0.15rem;
        font-weight: bold
      }
    }
    & div.count-down-label label {
      @include abs.font($font-size: var(--fs-200), $font-weight: bold, $color: var(--clr-dark-cosmos-300), $font-variant: all-small-caps);
      text-align: center;
    }
  }
}