@use "../../abstracts/index" as abs;

.portrait-card-wrapper {
  width: 100%;
  & .portrait-card-container div.card-img-box.skeleton.skeleton-img {
    padding: 0;
    & :is(div.card-img, div.thumbnail) {
      outline: 0.2rem solid var(--clr-dark-cosmos-300);
      & div.img-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20rem;
        color: var(--clr-star-300);
        font-size: var(--fs-1000);
        opacity: .15;
      }
    }
  }

  div.skeleton-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--clr-dark-cosmos-300);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;

    & > div.skeleton.skeleton-text:nth-child(2n) {
      width: 80%;
    }

    & > div.skeleton.skeleton-text {
      margin: 0.2rem;
      border-radius: 0.2rem;
    }
  }
}

@include abs.mq(small) {
  div.card-img {
    &.skeleton-launch {
      min-height: 26.453125rem;
    }
  }
}

@include abs.mq(xl) {
  div.card-img {
    &.skeleton-launch {
      min-height: 22.175625rem;
    }
  }
}

@include abs.mq(xxl) {
  div.card-img {
    &.skeleton-launch {
      min-height: 22.56625rem;
    }
  }
}