@use "../abstracts/sizes" as *;
@use "../abstracts/colors" as *;

@each $key, $val in $common-values {
  .border-#{$key} {
    border-width: $val;
  }
  .border-t-#{$key} {
    border-width: $val 0 0 0;
  }

  .border-r-#{$key} {
    border-width: 0 $val 0 0;
  }

  .border-b-#{$key} {
    border-width: 0 0 $val 0;
  }

  .border-l-#{$key} {
    border-width: 0 0 0 $val;
  }
}

// Border colors
@each $color, $shade-map in $colors {
  @each $shade, $value in $shade-map {
    .border-#{$color}-#{$shade} {
      border-style: solid;
      border-color: var(--clr-#{$color}-#{$shade});
    }
  }
}
